html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Playfair Display';
  font-size: 16px;
  /* max-width: 1440px; */
  background-color: #fff;
  padding-top: 26px;
  color: #ae7c78;
  margin-left: auto;
  margin-right: auto;
}

.content,
.header-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.header-item {
  line-height: 20px;
}

.header {
  border-bottom: 1px solid #ae7c78;
  border-top: 1px solid #ae7c78;
  height: 64px;
}

.catalog-wrapper {
  display: flex;
  margin-top: 82px;
  height: 463px;
}

.catalog {
  max-width: 384px;
  margin-right: 23px;
}

.btn {
  font-family: 'Montserrat';
  background: #d89999;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 20px;
  color: #fff;
}

.catalog .catalog-button {
  padding: 30px 70px;
}

.catalog-image {
  display: flex;
}

.catalog-image-1 {
  width: 386px;
  height: 404px;
  align-self: flex-end;
  margin-right: 20px;
}

.catalog-image-2 {
  width: 387px;
  height: 420px;
}

.catalog-image img {
  border-radius: 10px;
}

/* .catalog-image-wrapper .catalog-image:first-child {
  margin-right: 20px;
} */

.catalog-title {
  font-size: 44px;
  line-height: 59px;
  margin-bottom: 24px;
}

.catalog-desc {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 64px;
}

.italic {
  font-style: italic;
}

.advantage {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
}

.advantage .text-wrapper {
  display: inline-block;
  max-width: 285px;
}

.advantage .advantage-item {
  display: flex;
}

.advantage .advantage-item:not(:last-child) {
  margin-right: 50px;
}

.advantage .svg {
  margin-right: 20px;
}

.advantage .title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: inline-block;
}

.advantage .desc {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;

  display: inline-block;
}

.popular {
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.popular-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 36px;
  text-align: center;
}

.popular-item {
  font-family: 'Montserrat';
}

.popular-product {
  display: flex;
}

.popular-item .item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.popular-item .item-size {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.popular-content .item-order {
  padding: 30px 105px;
  margin-top: 64px;
}

.popular-content .item-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.popular-item .item-desc,
.popular-item .item-size {
  font-size: 16px;
  line-height: 20px;
}

.popular-arrows svg {
  cursor: pointer;
}

.popular-arrows svg:first-child {
  margin-right: 20px;
}

.sections {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 20px;
  margin-bottom: 80px;
}

.sections > .element:nth-child(1) {
  background: url(../img/element-1.jpg) no-repeat;
  width: 387px;
  height: 442px;
  position: relative;
}

.sections > .element:nth-child(2) {
  background: url(../img/element-2.jpg) no-repeat;
  width: 387px;
  height: 442px;
  position: relative;
}

.sections > .element:nth-child(3) {
  background: url(../img/element-3.jpg) no-repeat;
  width: 387px;
  height: 442px;
  position: relative;
}

.sections > .element > .color-cratch {
  background-color: rgba(174, 124, 120, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.sections > .element > .element-text {
  color: #fff;
  z-index: 11;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sections .element-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
}

.sections .element-desc {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
}

.banner {
  margin-bottom: 80px;
  max-height: 391px;
  font-size: 0;
  display: flex;
}

.banner > .banner-wrapper {
  width: 610px;
  height: 391px;
  background-color: #ae7c78;
  display: inline-block;
}

.banner-wrapper > .banner-text {
  max-width: 387px;
  color: #fff;
  padding: 40px 20px 64px 102px;
}

.banner-title {
  font-family: 'Playfair Display';
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  font-weight: normal;
}

.banner-desc {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 29px;
}

.banner-picture {
  width: 590px;
  height: 391px;
  background-image: url(../img/banner.jpg);
  display: inline-block;
}
